@page "/"
@namespace BlazorApp1.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BlazorApp1</title>
    <base href="~/" />
    <link href="/Content/2011.1.315/telerik.common1.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/2011.1.315/telerik.silver.css" rel="stylesheet" type="text/css" />
    <link href="/Content/2011.1.315/telerik.rtl.css" rel="stylesheet" type="text/css" />
    @*<link href="~/Content/css/bootstrap-rtl." rel="stylesheet" type="text/css" />*@

    <script src="/Scripts/jquery-1.8.2.js"></script>
    <script src="/Scripts/jquery.mask.js"></script>
    <script src="/Scripts/jquery.maskedinput-1.3.js"></script>
    <script src="/Scripts/Main/telerik.common.js"></script>
    <script src="/Scripts/JScript1.js"></script>
    <script src="/Scripts/Main/telerik.draganddrop.js"></script>
    <script src="/Scripts/Main/telerik.textbox.js"></script>
    <script src="/Scripts/Main/telerik.TextArea.js"></script>
    <script src="/Scripts/Main/telerik.list.js"></script>
    <script src="/Scripts/Main/telerik.combobox.js"></script>
    <script src="/Scripts/Main/telerik.calendar.js"></script>
    <script src="/Scripts/Main/telerik.datepicker.js"></script>
    <script src="/Scripts/Main/telerik.window.js"></script>
    <script src="/Scripts/Main/telerik.grid.js"></script>
    <script src="/Scripts/Main/telerik.HelpWindow.js"></script>
    <script src="~/Scripts/file.js"></script>
</head>
<body>
    <div class="t-rtl">
        <app>
            @(await Html.RenderComponentAsync<App>(RenderMode.ServerPrerendered))
        </app>
    </div>
    <script src="_framework/blazor.server.js"></script>
</body>
</html>
